body
{
	margin: 0 !important;
	padding: 0 !important;
	font-size: 0.7em;
}

html, body { height: 100%; }

.split {
	width: 50%;
	height: 100%;
	float: left;
	top:0;
	vertical-align:top;
}

#input-text
{
	width: 98%;
	height: 100%;
	/*overflow: hidden;*/
}

div.left-content
{
	bottom: 0;
	left:0;
}

div.right-content
{
	left:50%;
}
span, button, select
{
    display: inline-flex;
    vertical-align: middle;
}

div#nav_wrap
{

}

div#nav
{
	background: #999;
}