body
{
	margin: 0 !important;
	padding: 0 !important;
	font-size: 0.7em;
}
#input-text
{
	width: 97%;
}

div.left-content
{
	top:0;
	width:50%;
	left:0;
	float:left;
	height: 100vh;
}

div.right-content
{
	top:0;
	vertical-align:top;
	left:50%;
}
span, button,
select{
    display: inline-flex;
    vertical-align: middle;
}
