:scope *
{
	font-size: 1em;
}

:scope p {
	text-align: justify;
	text-indent: 1em;
}

:scope h1, :scope h2, :scope h3
{
	text-transform: uppercase;
}

/* contador dos cabeçalhos */
:scope body
{
	counter-reset: section;
}

:scope h1
{
	counter-reset: section;
}

:scope h2:before
{
	counter-increment: section;
	content: counter(section) ".\0000a0\0000a0";
	counter-reset: subsection;
}

:scope h3:before
{
	counter-increment: subsection;
	content: counter(section) "." counter(subsection) ".\0000a0\0000a0";
}
/* fim do contador dos cabeçalhos */

/* citação */
:scope blockquote
{
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}
:scope blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
:scope blockquote:after {
	color: #ccc;
	content: close-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
:scope blockquote p {
	display: inline;
}
/* fim citação */

:scope table {
	border: 1px solid black;
	border-spacing: 0;
	border-collapse: collapse;
} 

:scope thead tr th:only-child {
	background-color: #FFF;
}

:scope thead th {
	border: 1px solid black;
	text-align: center; font-weight: bold;
	background-color: #C0C0C0;
}

:scope tbody td {
	border: 1px solid black;
	border-spacing: 0;
}